@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;500;700&family=PT+Sans&family=Poppins:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Kanit; }

body {
  background-image: url(https://i.pinimg.com/736x/57/62/2d/57622db6ac01fcd4d338a2d1f624065b.jpg); }

/* NAVEGADOR */
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 150px; }

.nav a {
  background-color: #6b479e;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  font-family: Kanit;
  transition: all 0.3s; }

a:hover {
  padding: 25px;
  background-color: #4f3375;
  color: grey; }

/* MEDIA QUERIE navbar*/
@media (max-width: 940px) {
  body {
    width: 100vw; }
  #header {
    display: flex;
    height: 30vh;
    width: 100vw; }
  .nav a {
    margin: 13px;
    padding: 7px;
    width: 25vw; }
  .nav ul {
    display: flex;
    padding: 10px;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center; }
  .nav il {
    padding-top: 15px; } }

@media (max-width: 390px) {
  #header {
    display: flex;
    height: 40vh;
    width: 100vw; } }

/* INICIO */
.seccion1 {
  display: inline-block;
  position: relative;
  color: white;
  text-align: center; }

.seccion1 img {
  width: 100vw;
  height: 100vh; }

.seccion1 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.seccion1 h1 {
  animation-duration: 2s;
  animation-name: slidein; }

.seccion1 h2 {
  animation-duration: 4s;
  animation-name: slidein; }

.seccion1 p {
  animation-duration: 6s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.seccion2 img {
  width: 100%; }

.seccion2 {
  width: 100vw;
  height: 600px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas: "img1 img2 texto" "img3 img4 texto";
  align-items: stretch;
  padding: 0px 0px;
  margin: 10px 0px 10px; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.texto {
  grid-area: texto;
  align-self: center;
  text-align: justify;
  margin: 30px 30px;
  padding: 10px;
  color: whitesmoke;
  background: linear-gradient(rgba(2, 2, 245, 0.6), rgba(107, 71, 158, 0.726), rgba(139, 139, 139, 0.733));
  border-radius: 3px;
  transition: all 0.7s; }

.texto:hover {
  background-color: rgba(194, 192, 192, 0.74); }

/* media querie inicio */
@media (max-width: 1100px) {
  .texto {
    display: flex;
    flex-direction: column; }
  .seccion2 img {
    display: none; }
  .seccion2 {
    display: inline;
    margin: 0; }
  .seccion1 img {
    width: 100vw;
    height: 50vh; } }

/* ESTUDIO */
#carouselExampleCaptions {
  height: fit-content;
  margin: 50px 50px 50px 50px; }

.carousel-control-next-icon {
  height: fit-content; }

.carousel-inner {
  height: fit-content; }

/* TRABAJOS */
h1 {
  text-align: center;
  padding: 10px 20px;
  margin: auto;
  color: white; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  justify-items: stretch;
  grid-template-areas: "cancion1 cancion2 cancion3" "cancion4 cancion5 cancion6" "cancion7 cancion8 cancion9";
  width: 100vw;
  height: 145vh; }

.cancion1 {
  grid-area: cancion1; }

.cancion2 {
  grid-area: cancion2; }

.cancion3 {
  grid-area: cancion3; }

.cancion4 {
  grid-area: cancion4; }

.cancion5 {
  grid-area: cancion5; }

.cancion6 {
  grid-area: cancion6; }

.cancion7 {
  grid-area: cancion7; }

.cancion8 {
  grid-area: cancion8; }

.cancion9 {
  grid-area: cancion9; }

/* media querie trabajos */
@media (max-width: 570px) {
  .container {
    display: inline-flex;
    flex-direction: column;
    height: 214vh; } }

/* CONTACTO */
.seccion-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline; }

.estilo-contacto {
  padding: 15px;
  margin: 30px;
  border: solid 2px grey;
  color: white; }

.estilo-contacto a {
  padding: 4px; }

.estilo-contacto a:hover {
  background-color: none; }

/* media querie contacto */
@media (max-width: 800px) {
  .seccion-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }
  .estilo-contacto {
    width: 80vw;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column; } }

@media (max-width: 580px) {
  .inframe-maps {
    width: 70vw; } }

/* PIE DE PAGINA */
#footer {
  width: 100vw;
  height: 31vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  left: 0; }

#footer p {
  margin: 15px;
  padding-bottom: 5px; }

.redes-sociales {
  display: inline-flexbox;
  padding-bottom: 0; }

.redes-sociales a {
  margin: 35px;
  padding: 10px 10px 10px 10px; }

.redes-sociales a:hover {
  background: none; }

/* media querie footer */
@media (max-width: 1310px) {
  #footer {
    height: 39vh;
    width: 100vw; } }

@media (max-width: 375px) {
  #footer {
    height: 43vh;
    width: 100vw; } }
