
/* PIE DE PAGINA */
#footer {
    width: 100vw;
    height: 31vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
}
#footer p{
    margin: 15px;
    padding-bottom: 5px;
}
.redes-sociales{
    display: inline-flexbox;
    padding-bottom: 0;
}
.redes-sociales a {
    margin: 35px;
    padding: 10px 10px 10px 10px;
}
.redes-sociales a:hover{
    background: none;
}

/* media querie footer */
@media (max-width: 1310px) {
    #footer {
        height: 39vh;
        width: 100vw;
    }
}
@media (max-width: 375px) {
    #footer {
        height: 43vh;
        width: 100vw;
    }
}
