/* ESTUDIO */
#carouselExampleCaptions {
    height: fit-content;
    margin: 50px 50px 50px 50px
}

.carousel-control-next-icon {
    height: fit-content;
}

.carousel-inner {
    height: fit-content;
}
