/* INICIO */
.seccion1 {
    display: inline-block;
    position: relative;
    color: white;
    text-align: center;
}

.seccion1 img {
    width: 100vw;
    height: 100vh;
}

.seccion1 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.seccion1 h1{
    animation-duration: 2s;
    animation-name: slidein;
}
.seccion1 h2{
    animation-duration: 4s;
    animation-name: slidein;
}
.seccion1 p{
    animation-duration: 6s;
    animation-name: slidein;
}
@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%;   
     }
    to{
        margin-left: 0%;
    width: 100%;  
    }
}
.seccion2 img {
    width: 100%;
}

.seccion2 {
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-template-areas:
        "img1 img2 texto"
        "img3 img4 texto";
    align-items: stretch;
    padding: 0px 0px;
    margin: 10px 0px 10px;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.texto {
    grid-area: texto;
    align-self: center;
    text-align: justify;
    margin: 30px 30px;
    padding: 10px;
    color: whitesmoke;
    background: linear-gradient(rgba(2, 2, 245, 0.6), rgba(107, 71, 158, 0.726), rgba(139, 139, 139, 0.733));
    border-radius: 3px;
    transition: all 0.7s;
}
.texto:hover{
    background-color: rgba(194, 192, 192, 0.74);
}

/* media querie inicio */
@media (max-width: 1100px) {
    .texto {
        display: flex;
        flex-direction: column;

    }

    .seccion2 img {
        display: none;
    }

    .seccion2 {
        display: inline;
        margin: 0;

    }
    .seccion1 img {
        width: 100vw;
        height: 50vh;
    }
}
