/* CONTACTO */
.seccion-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .estilo-contacto {
        padding: 15px;
        margin: 30px;
        border: solid 2px grey;
        color: white;
        a{
            padding: 4px;
        }
        a:hover{
            background-color: none;
        }
    }
}
/* media querie contacto */
@media (max-width: 800px) {
    .seccion-contacto {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;   
        .estilo-contacto{
            width: 80vw;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;
          }     
    }
}
@media (max-width: 580px) {
.inframe-maps{
    width: 70vw;
}
}
