/* TRABAJOS */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    justify-items: stretch;
    grid-template-areas:
        "cancion1 cancion2 cancion3"
        "cancion4 cancion5 cancion6"
        "cancion7 cancion8 cancion9";
    width: 100vw;
    height: 145vh;

    .cancion1 {
        grid-area: cancion1;
    }
    .cancion2 {
        grid-area: cancion2;
    }
    .cancion3 {
        grid-area: cancion3;
    }
    .cancion4 {
        grid-area: cancion4;
    }
    .cancion5 {
        grid-area: cancion5;
    }
    .cancion6 {
        grid-area: cancion6;
    }
    .cancion7 {
        grid-area: cancion7;
    }
    .cancion8 {
        grid-area: cancion8;
    }
    .cancion9 {
        grid-area: cancion9;
    }
}
/* media querie trabajos */
@media (max-width: 570px) {
    .container{
        display: inline-flex;
        flex-direction: column;
        height: 214vh;
    }
}
